# Copy this file to .env and fill values
NEON_DATABASE_URL=postgresql://<user>:<password>@<ep-name>.eu-central-1.aws.neon.tech/neondb?sslmode=require
GOOGLE_MAPS_API_KEY=your_google_maps_key
PORT=4000
HOST=0.0.0.0
EXPO_PUBLIC_API_BASE_URL=http://localhost:4000
